button {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 75px;
    font-size: 20px;
    margin: auto;

}

.container {
    display: flex;
    margin-top: 2%;
}

.text {
    font-size: 30px;
    margin-left: 25%;
    margin-top: 5%;
}